.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.canvas__container {
    grid-area: 1 / 1 / 2 / 2; 
    width: 500px;
    height: auto;
}

canvas {
    width: 500px;
    height: 500px;
    background-color: rgb(194, 194, 194);

}

.config__container { grid-area: 1 / 2 / 2 / 3; }