canvas {
    background-color: rgb(194, 194, 194);
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.canvas__container {
    grid-area: 1 / 1 / 2 / 2; 
    width: 500px;
    height: 500px;
}


/* .config__container { grid-area: 1 / 2 / 2 / 3; } */

.config__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-area: 1 / 2 / 2 / 3;
}
    
.new_model__container { grid-area: 1 / 1 / 2 / 2; margin-bottom:1cm;}
.exist_model__container { grid-area: 1 / 2 / 2 / 3; }
.size__container { grid-area: 2 / 1 / 5 / 2; }
.transform__container { grid-area: 2 / 2 / 5 / 3; }